<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="employeeService" class="com.learn.spring.service.impl.EmployeeServiceImpl" >
        <constructor-arg ref="employeeDao" />
    </bean>


    <bean id="employeeDao" class="com.learn.spring.dao.impl.EmployeeDaoImpl">
        <property name="employee1" ref="employeeBeen1" />
        <property name="employee2" ref="employeeBeen2" />
        <property name="type" value="Stub Dao Impl" />
    </bean>

    <bean id="employeeBeen1" class="com.learn.spring.model.Employee" >
        <constructor-arg value="31"  index="1" type="int"/>
        <constructor-arg value="true" index="2" type="boolean"/>
        <constructor-arg value="Ravi Kant Soni" index="0" type="String" />
    </bean>

    <bean id="employeeBeen2" class="com.learn.spring.model.Employee" >
        <constructor-arg value="John Thomson" />
        <constructor-arg value="55" />
        <constructor-arg value="true"/>
    </bean>

    <bean id="employeeContainer" class="com.learn.spring.containers.EmployeeContainer">
        <property name="lists">
            <list>
                <value>Donald Trump</value>
                <value>Barack Obama</value>
                <value>George Bush</value>
            </list>
        </property>
        <property name="sets">
            <set>
                <value>Emmanuel Macron</value>
                <value>Emmanuel Macron</value>
                <value>Francois Hollande</value>
            </set>
        </property>
        <property name="maps">
            <map>
                <entry key="Johnson" value="Boris" />
                <entry key="May" value="Theresa" />
                <entry key="Cameron" value="David" />
            </map>
        </property>
    </bean>

    <bean class="com.learn.spring.atm.ATM" >
        <property name="printer" >
            <bean class="com.learn.spring.atm.Printer">
                <property name="message" value="Account balance is 0.0 for account number = " />
            </bean>
        </property>
    </bean>

    <bean id="russianWorker" class="com.learn.spring.inheritance.Worker">
        <property name="country" value="Russia" />
    </bean>

    <bean id="realRussianWorker" parent="russianWorker" >
        <property name="id" value="333" />
        <property name="name" value="Vasilii Ivanov" />
    </bean>

</beans>





