<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="employeeService" class="com.learn.spring.service.impl.EmployeeServiceImpl" >
        <constructor-arg ref="employeeDao" />
    </bean>


    <bean id="employeeDao" class="com.learn.spring.dao.impl.EmployeeDaoImpl">
        <property name="employee" ref="employee" />
    </bean>


    <bean id="employee" class="com.learn.spring.model.Employee" >
        <constructor-arg value="Ravi Kant Soni" />
        <constructor-arg value="31" />
        <constructor-arg value="true"/>
    </bean>



</beans>





